#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(230, 230, 230, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 22px;
  background-color: rgba(123, 138, 184, 1);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(123, 138, 184, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(123, 138, 184, 1) 100%);
  border-width: 0px;
  border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(204, 192, 192, 1);
  background-color: rgba(0, 0, 0, 0.49);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(43, 35, 35, 1);
  background-color: rgba(77, 168, 118, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #4da876;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #4da876;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #4da876;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #7b8ab8;
}