@media (max-width: 767px) {
  .me-image {
    display: table;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .me-image {
    position: absolute;
    right: 25px;
  }
}

.skill-img {
  width: 180px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}

.fact-panel {
  margin: 20px;
}
