.footer {
  margin-top: 40px;
  width: 80%;
}

.blog-desc {
  margin-top: 30px;
  color: #3a3a3a;
}

.contact, .contact:visited {
  margin: 15px;
  cursor: pointer;
  color: #3a3a3a;
}

.contact:hover,  {
  text-decoration: none;
  color: #555555;
}
