
.logo {

  width: 100%;
  height: 300px;
  line-height: 260px;
  text-align: center;
}

.logo-laptop {
  background-image: url('/images/welcome.jpg');
  background-size: 2500px 1667px;
  background-position: center;
}

.logo-windsurf {
  background-image: url('/images/me_windsurf.jpg');
  background-position: bottom right;
}

.intro {
  display: inline;
  background-color: #eeeeff;
  opacity: 0.75;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
  text-transform: uppercase;
  -webkit-animation: get-small  1s 1 ease-in;
  animation: get-small  1s 1 ease-in;
}

@media (max-width: 499px) {
  .logo {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 719px) {
  .intro {
    font-size: 20px;
  }
  @-webkit-keyframes get-small {
    from {font-size: 30px;}
    to {font-size: 20px;}
  }
}

@media (min-width: 720px) and (max-width: 949px) {
  .intro {
    font-size: 30px;
  }
  @-webkit-keyframes get-small {
    from {font-size: 50px;}
    to {font-size: 30px;}
  }
}

@media (min-width: 950px) and (max-width: 1199px) {
  .intro {
    font-size: 50px;
  }
  @-webkit-keyframes get-small {
    from {font-size: 70px;}
    to {font-size: 50px;}
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {
  .intro {
    font-size: 70px;
  }
  @-webkit-keyframes get-small {
    from {font-size: 90px;}
    to {font-size: 70px;}
  }
}

@media (min-width: 1550px) {
  .intro {
    font-size: 90px;
  }
  @-webkit-keyframes get-small {
    from {font-size: 120px;}
    to {font-size: 90px;}
  }
}



@media (min-width: 1380px) {
  .logo-windsurf {
    background-size: 2217px 600px;
  }
}

@media (min-width: 1100px) and (max-width: 1379px) {
  .logo-windsurf {
    background-size: 1770px 480px;
  }
}

@media (min-width: 700px) and (max-width: 1099px) {
  .logo-windsurf {
    background-size: 1270px 344px;
  }
}

@media (max-width: 699px)  {
  .logo-windsurf {
    background-size: 1107px 300px;
  }
}
