---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.cool-font {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

.post-title {
  color: #3a3a3a;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  font-size: 27px;
  line-height: 45px;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

a.post-title:hover {
  text-decoration: none;
  color: #afafaf;
}

.post-date {
  color: #3a3a3a;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.post-item {
  margin-bottom: 45px;
}

.jumbotron {
  width: 450px;
}

.transparent.jumbotron {
  background-color: transparent;
}

.vcenter {
  display: flex;
  align-items: center;
}

.framework-logo {
  height: 30px;
  float: right;
}

main {
  margin-left: 12px;
  margin-right: 12px;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "css/syntax-highlighting",
        "css/base",
        "css/menu",
        "css/tag",
        "css/logo",
        "css/paginate",
        "css/footer",
        "css/skills",
        "css/about"
;
