---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

.cool-font {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

.post-link {
  font-size: 25px;
}

.post-date {
  color: green;
}

.post-more {
  font-size: 21px;
}

.post-tag {
  color: darkred;
}

.post-item {
  margin-bottom: 45px;
}

.blog-desc {
  margin-top: 30px;
  color: #5e5e5e;
}

.contact {
  margin: 15px;
  cursor: pointer;
}

.contact:hover, .contact:visited {
  text-decoration: none;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.main-info {
  margin-left: 30px;
}

.tag-post-label {
  margin-right: 30px;
}

.footer {
  margin-top: 40px;
}

.jumbotron {
  width: 450px;
}

.transparent.jumbotron {
  background-color: transparent;
}

.vcenter {
  display: flex;
  align-items: center;
}

.framework-logo {
  height: 30px;
  float: right;
}

.width-80 {
  width: 80%;
}

.tag-btn.btn {
  font-size: 15px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "css/syntax-highlighting",
        "css/nav"
;
