$tag_light_bg: rgb(85, 85, 85);
$tag_dark_bg: rgb(0, 0, 0);
$tag_border: #222222;
$tag_shadow: rgba(255, 255, 255, .4);
$tag_text_color: #f4f4f4;
$tag_light_bg_hover: rgb(254, 225, 141);
$tag_dark_bg_hover: rgb(254, 200, 108);
$tag_border_hover: #e1b160;
$tag_box-shadow: rgba(0, 0, 0, .1);
$tag_box_shadow: #b5b5b5;
$tag_box_shadow_hover: #fbf173;
$tag_box-shadow_hover: rgba(0, 0, 0, .1);

.blog-tag {
  margin: 0 0 7px 20px;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: $tag_text_color;
  text-shadow: 0px 1px 0px $tag_shadow;
  padding: 5px 5px 5px 20px;
  border-top: 1px solid $tag_border;
  border-right: 1px solid $tag_border;
  border-bottom: 1px solid $tag_border;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  background-image: -webkit-linear-gradient(top, $tag_light_bg, $tag_dark_bg);
  background-image: -moz-linear-gradient(top, $tag_light_bg, $tag_dark_bg);
  background-image: -o-linear-gradient(top, $tag_light_bg, $tag_dark_bg);
  background-image: -ms-linear-gradient(top, $tag_light_bg, $tag_dark_bg);
  background-image: linear-gradient(top, $tag_light_bg, $tag_dark_bg);
  -webkit-box-shadow: inset 0 4px 0 $tag_box_shadow,
  0 4px 4px $tag_box-shadow;
  -moz-box-shadow: inset 0 4px 0 $tag_box_shadow,
  0 4px 4px $tag_box-shadow;
  box-shadow: inset 0 4px 0 $tag_box_shadow,
  0 4px 4px $tag_box-shadow;
  z-index: 999;
  display: inline-block;
}

.blog-tag:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: -webkit-linear-gradient(left top, $tag_light_bg, $tag_dark_bg);
  background-image: -moz-linear-gradient(left top, $tag_light_bg, $tag_dark_bg);
  background-image: -o-linear-gradient(left top, $tag_light_bg, $tag_dark_bg);
  background-image: -ms-linear-gradient(left top, $tag_light_bg, $tag_dark_bg);
  background-image: linear-gradient(left top, $tag_light_bg, $tag_dark_bg);
  position: absolute;
  left: -11px;
  top: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 1px solid $tag_border;
  border-bottom: 1px solid $tag_border;
  -webkit-border-radius: 0 0 0 0.25px;
  -moz-border-radius: 0 0 0 0.25px;
  border-radius: 0 0 0 0.25px;
  z-index: 1;
}

.blog-tag:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $tag_border;
  -webkit-box-shadow: 0 2px 0 $tag_box_shadow;
  -moz-box-shadow: 0 2px 0 $tag_box_shadow;
  box-shadow: 0 2px 0 $tag_box_shadow;
  position: absolute;
  top: 8px;
  left: -1px;
  z-index: 9999;
}

.blog-tag:hover {
  background-image: -webkit-linear-gradient(top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -moz-linear-gradient(top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -o-linear-gradient(top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -ms-linear-gradient(top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: linear-gradient(top, $tag_light_bg_hover, $tag_dark_bg_hover);
  border-color: $tag_border_hover;
  text-decoration: none;
  -webkit-box-shadow: inset 0 4px 0 $tag_box_shadow_hover,
  0 4px 4px $tag_box-shadow_hover;
  -moz-box-shadow: inset 0 4px 0 $tag_box_shadow_hover,
  0 4px 4px $tag_box-shadow_hover;
  box-shadow: inset 0 4px 0 $tag_box_shadow_hover,
  0 4px 4px $tag_box-shadow_hover;
  z-index: 999;
  color: $tag_dark_bg;
}

.blog-tag:hover:before {
  background-image: -webkit-linear-gradient(left top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -moz-linear-gradient(left top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -o-linear-gradient(left top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: -ms-linear-gradient(left top, $tag_light_bg_hover, $tag_dark_bg_hover);
  background-image: linear-gradient(left top, $tag_light_bg_hover, $tag_dark_bg_hover);
  border-color: $tag_border_hover;
}