<footer class="thumbnail center-block width-80 footer">

    <!--Tags cloud-->
    {% assign tags = site.tags | sort %}
    <section class="text-center">
        <div>Read posts with tag:</div>
        {% for tag in tags %}
        <a class="blog-tag" href="/tag/{{ tag | first | slugify }}/">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
        </a>
        {% endfor %}
    </section>

    <p class="text-center blog-desc">{{ site.description }}</p>

    <!--Contacts-->
    <p class="text-center">
        <a href="https://www.linkedin.com/in/bkos91" target="_blank" class="fa contact fa-2x fa-linkedin-square"></a>
        <a href="https://www.facebook.com/bryazgin.kos" target="_blank" class="fa contact fa-2x fa-facebook-square"></a>
        <a href="https://twitter.com/bryazginkos" target="_blank" class="fa contact fa-2x fa-twitter-square"></a>
        <a href="http://vk.com/bkos91" target="_blank" class="fa contact fa-2x fa-vk"></a>
        <a href="https://github.com/bryazginkos" target="_blank" class="fa contact fa-2x fa-github-square"></a>
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">

</script>
