---
layout: default
---
<header class="text-center">
    <h4 class="post-title">Who is the author?</h4>
</header>
<section>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 text-center">
            <video width="100%" controls poster="../video/preview.jpg">
                <source src="../video/me.mp4" type="video/mp4">
                <source src="../video/me.webm" type="video/webm">
                <source src="../video/me.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img src="../images/me.jpg" class="me-image">
        </div>
    </div>
</section>

<article class="text-center">
    My name is Konstantin Bryazgin. I'm a Java developer, but about 50% of time I work with client, so I'm partly
    Frontend developer too. I do really like programming, especially if I face with some complicated problem with
    unobvious solution. Click on the video above to make me saying a few words about myself.

</article>
<header class="text-center">
    <h4 class="post-title">Why do I this blog?</h4>
</header>
<article class="text-center">
    Almost every day I deal with different issues I have to solve.
    Some of them are very interesting so I want to share experience. One more reason is my wish to help somebody: I'd
    be happy if you find my post and it helps you or guides to right direction. And the last reason is to present myself.
</article>

