---
layout: default
---
<header class="text-center">
    <h4 class="post-title">Who is the author?</h4>
</header>
<section class="text-center">
    <video width="427" height="320" controls>
        <source src="../video/test.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <img src="../images/me.jpg" class="me-image">
</section>

<p class="text-center">
    My name is Konstantin Bryazgin. I'm a Java developer, but about 50% of time I work with client, so I'm partly
    Frontend developer too. I do really like programming, especially if I face with some complicated problem with
    unobvious solution. Click on the video above to make me saying a few words about myself.

</p>
<header class="text-center">
    <h4 class="post-title">Why do I this blog?</h4>
</header>
<p class="text-center">
    Almost every day I deal with different issues I have to solve.
    Some of them are very interesting so I want to share experience. One more reason is my wish to help somebody: I'd
    be happy if you find my post and it helps you or guides to right direction. And the last reason is to present myself.
</p>

