---
layout: default
---

<div class="skills-intro">
    I have met a lot of frameworks and technologies for years of developing. The main advantage of a programmer isn't
    knowing it
    very well, master-skill is more important. Yet a list of used technologies is kind of business card for developers.
    I've listed <b>important</b> frameworks and technologies on which I've spent more than <b>40 hours</b>.
</div>
<section class="text-center">
    <header>
        <h4 class="post-title">Server</h4>
    </header>
    <div class="skill">
        <div class="skill-header">Spring</div>
        <img class="skill-logo" src="../images/spring.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Hibernate</div>
        <img class="skill-logo" src="../images/hibernate.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Apache CFX</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Jersey 2</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Play 2</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">OpenCV (javacv)</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Akka</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>
</section>

<section class="text-center">
    <header>
        <h4 class="post-title">Client</h4>
    </header>
    <div class="skill">
        <div class="skill-header">Angular 2</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Angular JS</div>
        <img class="skill-logo" src="../images/angular.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Ractive JS</div>
        <img class="skill-logo" src="../images/ractive.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Bootstrap 3</div>
        <img class="skill-logo" src="../images/bootstrap.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">JQuery</div>
        <img class="skill-logo" src="../images/jquery.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">GWT</div>
        <img class="skill-logo" src="../images/gwt.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">GXT</div>
        <img class="skill-logo" src="../images/gxt.png"/>
    </div>
</section>
<section class="text-center">
    <header>
        <h4 class="post-title">Build tools</h4>
    </header>
    <div class="skill">
        <div class="skill-header">Maven</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>
    <div class="skill">
        <div class="skill-header">Gradle</div>
        <img class="skill-logo" src="../images/gradle.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Npm</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Bower</div>
        <img class="skill-logo" src="../images/bower.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Gulp</div>
        <img class="skill-logo" src="../images/gulp.png"/>
    </div>
</section>
<section class="text-center">
    <header>
        <h4 class="post-title">Test tools</h4>
    </header>
    <div class="skill">
        <div class="skill-header">JUnit</div>
        <img class="skill-logo" src="../images/junit.png"/>
    </div>
    <div class="skill">
        <div class="skill-header">Mockito</div>
        <img class="skill-logo" src="../images/mockito.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Karma</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>

    <div class="skill">
        <div class="skill-header">Jasmine</div>
        <img class="skill-logo" src="../images/maven.png"/>
    </div>
</section>



