---
layout: default
---
<div class="logo logo-laptop">
    <div class="intro">Welcome to my blog</div>
</div>


<header class="text-center">
    <h3 class="post-title text-center">{{ page.title }}</h3>
</header>

<div class="post-date text-center">
    <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
    </time>
</div>

<article>
    {{ content }}
</article>

<section>
    {% for posttag in page.tags %}

    <a class="blog-tag" href="/tag/{{posttag}}/">
        {{ posttag | replace:'-', ' ' }}
    </a>

    {% endfor %}
</section>

