---
layout: default
---

<div class="skills-intro">
    <p>
        One of characteristics of a software engineer is his or her technology stack. I wouldn't say it is an
        experience, but some kind of it.
    </p>
    <p>

        I have met a lot of frameworks and technologies for years, some of them
        are listed below (I spent 40+ hours working with each one). Of course, I don't remember the documentation
        and features of every instrument. However, it can help when you are thinking about the choice of the
        instrument for some problem. The wider your
        stack is, the better you understand what does suit for your project.
    </p>
    <p>
        Of course, I'm always open to everything new.
    </p>
</div>
<section class="text-center">
    <header>
        <h4 class="post-title">Back-end</h4>
    </header>
    <a class="skill" href="http://projects.spring.io/spring-framework/" target="_blank">
        <div class="skill-header two-lines">Spring framework</div>
        <img class="skill-logo" src="../images/skills/spring-framework.png"/>
    </a>

    <a class="skill" href="http://projects.spring.io/spring-boot/" target="_blank">
        <div class="skill-header">Spring boot</div>
        <img class="skill-logo" src="../images/skills/spring-boot.png"/>
    </a>

    <a class="skill" href="http://projects.spring.io/spring-data/" target="_blank">
        <div class="skill-header">Spring data</div>
        <img class="skill-logo" src="../images/skills/spring-data.png"/>
    </a>

    <a class="skill" href="http://projects.spring.io/spring-security/" target="_blank">
        <div class="skill-header two-lines">Spring security</div>
        <img class="skill-logo" src="../images/skills/spring-security.png"/>
    </a>

    <a class="skill" href="http://hibernate.org/" target="_blank">
        <div class="skill-header">Hibernate</div>
        <img class="skill-logo" src="../images/skills/hibernate.svg"/>
    </a>

    <a class="skill" href="http://cxf.apache.org/" target="_blank">
        <div class="skill-header">Apache CFX</div>
        <img class="skill-logo" src="../images/skills/apache.gif"/>
    </a>

    <a class="skill" href="https://jersey.java.net/" target="_blank">
        <div class="skill-header">Jersey 2</div>
        <img class="skill-logo" src="../images/skills/jersey2.png"/>
    </a>

    <a class="skill" href="https://www.playframework.com/" target="_blank">
        <div class="skill-header">Play 2</div>
        <img class="skill-logo" src="../images/skills/play2.jpeg"/>
    </a>

    <a class="skill" href="http://opencv.org/" target="_blank">
        <div class="skill-header">OpenCV</div>
        <img class="skill-logo" src="../images/skills/open_cv.png"/>
    </a>

    <a class="skill" href="http://akka.io/" target="_blank">
        <div class="skill-header">Akka</div>
        <img class="skill-logo" src="../images/skills/akka.png"/>
    </a>

    <a class="skill" href="https://grails.org/" target="_blank">
        <div class="skill-header">Grails</div>
        <img class="skill-logo" src="../images/skills/grails.png"/>
    </a>

    <a class="skill" href="http://lucene.apache.org/solr/" target="_blank">
        <div class="skill-header">Solr</div>
        <img class="skill-logo" src="../images/skills/solr.png"/>
    </a>
</section>

<section class="text-center">
    <header>
        <h4 class="post-title">Front-end</h4>
    </header>
    <a class="skill" href="https://angular.io/" target="_blank">
        <div class="skill-header">Angular 5</div>
        <img class="skill-logo" src="../images/skills/angular.svg"/>
    </a>

    <a class="skill" href="https://angularjs.org/" target="_blank">
        <div class="skill-header">Angular JS</div>
        <img class="skill-logo" src="../images/skills/angular.svg"/>
    </a>

    <a class="skill" href="http://www.ractivejs.org/" target="_blank">
        <div class="skill-header">Ractive JS</div>
        <img class="skill-logo" src="../images/skills/ractive.png"/>
    </a>

    <a class="skill" href="http://getbootstrap.com/" target="_blank">
        <div class="skill-header">Bootstrap 3</div>
        <img class="skill-logo" src="../images/skills/bootstrap.png"/>
    </a>

    <a class="skill" href="https://jquery.com/" target="_blank">
        <div class="skill-header">JQuery</div>
        <img class="skill-logo" src="../images/skills/jquery.png"/>
    </a>

    <a class="skill" href="http://www.gwtproject.org/" target="_blank">
        <div class="skill-header">GWT</div>
        <img class="skill-logo" src="../images/skills/gwt.png"/>
    </a>

    <a class="skill" href="https://www.sencha.com/products/gxt/" target="_blank">
        <div class="skill-header">GXT</div>
        <img class="skill-logo" src="../images/skills/gxt.png"/>
    </a>

    <a class="skill" href="http://www.qooxdoo.org/" target="_blank">
        <div class="skill-header">Qooxdoo</div>
        <img class="skill-logo" src="../images/skills/qooxdoo.png"/>
    </a>
</section>
<section class="text-center">
    <header>
        <h4 class="post-title">Environment tools</h4>
    </header>
    <a class="skill" href="https://maven.apache.org/" target="_blank">
        <div class="skill-header">Maven</div>
        <img class="skill-logo" src="../images/skills/maven.png"/>
    </a>
    <a class="skill" href="https://gradle.org/" target="_blank">
        <div class="skill-header">Gradle</div>
        <img class="skill-logo" src="../images/skills/gradle.png"/>
    </a>

    <a class="skill" href="https://www.npmjs.com/" target="_blank">
        <div class="skill-header">Npm</div>
        <img class="skill-logo" src="../images/skills/npm.png"/>
    </a>

    <a class="skill" href="http://gulpjs.com/" target="_blank">
        <div class="skill-header">Gulp</div>
        <img class="skill-logo" src="../images/skills/gulp.png"/>
    </a>

    <a class="skill" href="https://www.docker.com/" target="_blank">
        <div class="skill-header">Docker</div>
        <img class="skill-logo" src="../images/skills/docker.png"/>
    </a>

    <a class="skill" href="https://www.docker.com/" target="_blank">
        <div class="skill-header">Docker swarm</div>
        <img class="skill-logo" src="../images/skills/docker.png"/>
    </a>

    <a class="skill" href="https://aws.amazon.com/" target="_blank">
        <div class="skill-header">AWS</div>
        <img class="skill-logo" src="../images/skills/aws.png"/>
    </a>
</section>
<section class="text-center">
    <header>
        <h4 class="post-title">Test tools</h4>
    </header>
    <a class="skill" href="http://junit.org/junit4/" target="_blank">
        <div class="skill-header">JUnit</div>
        <img class="skill-logo" src="../images/skills/junit.png"/>
    </a>
    <a class="skill" href="http://mockito.org/" target="_blank">
        <div class="skill-header">Mockito</div>
        <img class="skill-logo" src="../images/skills/mockito.png"/>
    </a>
</section>

<section class="text-center">
    <header>
        <h4 class="post-title">Databases</h4>
    </header>
    <a class="skill" href="http://www.mysql.com/" target="_blank">
        <div class="skill-header">MYSQL</div>
        <img class="skill-logo" src="../images/skills/mysql.png"/>
    </a>
    <a class="skill" href="https://www.microsoft.com/en/server-cloud/products/sql-server/overview.aspx" target="_blank">
        <div class="skill-header">MSSQL</div>
        <img class="skill-logo" src="../images/skills/mssql.png"/>
    </a>

    <a class="skill" href="https://www.postgresql.org/" target="_blank">
        <div class="skill-header">POSTGRESQL</div>
        <img class="skill-logo" src="../images/skills/postgresql.png"/>
    </a>

    <a class="skill" href="http://cassandra.apache.org/" target="_blank">
        <div class="skill-header">Cassandra</div>
        <img class="skill-logo" src="../images/skills/cassandra.png"/>
    </a>
</section>



