---
layout: default
---

<div>
    <h3 class="text-right tag-post-label">Posts with tag: <span class="post-tag">#{{ page.tag }}</span></h3>
    {% for post in site.tags[page.tag] %}
    <div class="post-item">
        <div>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
        <p>{{ post.excerpt }}</p>
        <p>
            <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </p>

        {% for posttag in post.tags %}
        <a class="btn btn-success btn-xs tag-btn" href="/tag/{{posttag}}/">
            #{{ posttag | replace:'-', ' ' }}
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>